* {
    margin: 0;
    padding: 0;
}

@page {
    margin: 30px 20px !important;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}

.box {
    display: block;
    width: calc(100% - 20px);
    background-color: #E5E7EB;
    padding: 10px;
    border-radius: 0.35rem;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    border-spacing: 0;
    line-height: 1 !important;
}

.table tr th, .table tr td {
    vertical-align: middle;
    text-align: left;
    padding: 0.625rem 0.35rem;
    border-bottom: 1px solid #E5E7EB;
}

.table .table-thead {
    background-color: #e4e4e7;
    border-bottom: 0 !important;
}